body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:100px;
  width:400px;
  height:500px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:500px;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:200px;
  top:145px;
  width:200px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:200px;
  top:190px;
  width:200px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:200px;
  top:235px;
  width:200px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:200px;
  top:280px;
  width:200px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:200px;
  top:330px;
  width:200px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:200px;
  top:398px;
  width:200px;
  height:22px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7_input:disabled {
  color:grayText;
}
#u8 {
  position:absolute;
  left:200px;
  top:440px;
  width:200px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:100px;
  top:100px;
  width:100px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
